
 .nav-link
{
    font-weight: lighter;
     color: white;
     font-size:x-small;   
}
body{
  right: 0;
}

.navi{
    font-weight:bold;
    font-size:small;
    word-spacing: 24px;
    margin-right: 10px; 
}

#headers{
    background-image: url('women.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
    background-size:cover;
}

  .heading
  {
    text-align: left;
    margin-top: 10px;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-weight:500;
  }
  
  p{
    margin-top: 150px;
  }

  .btn {
    margin-top: 40px;
    text-align: left;
    border-radius: 0%;
    font-weight:300;
  }

  .image-container {
    position: relative;
    width: 300px;
    height: 200px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #relative{
    position: relative;
  }

  .image-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: medium;
    font-weight: 600;
  }

 h2
  {
    border-bottom: solid 7px red;
    /* text-align: center; */
    /* width: 18rem; */
    /* margin-left: 40%; */
  }

  .navy{
    width: 170px;
    border-right: solid 1px rgb(212, 208, 208);
    text-align: center;
  }


  #footer {
    background: url('man.jpeg');
    height: 45em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-size: cover;
  }
  
.btn{
  margin-top: 40px;
  text-align: left;
  border-radius: 0%;
  font-weight:300;
}

.card
{
  background-color: rgb(220, 220, 220);
 border-color: white;

}

.card-body{
  font-weight:300;
    font-size:small;
}
#all{
  background-image: url(images/IMG_4508.JPG);
  background-size: cover;
  height: 400px;
}

